.footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    z-index: 10;
}
.footerLogo{
    height: 40px;
    width: 35px;
    background-color: transparent;
    margin-right: 40px;
    margin-left: 10px;

}